em {
    color: blue;
}

body footer {
    color: red;
}

header > h1 {
    color:limegreen;
}

p + blockquote {
    color:purple;
}

h1 ~ * {
    background-color:grey;
}

.hover:hover {
    color: hotpink;
}